 {
  margin: 0;
  padding: 0;
  font-family: "Hedvig Letters Serif", serif;

body {
  font-family: 'Hedvig Letters Serif', serif;
  margin: 0;
  padding: 0;
  position: relative;
}

.arka-plan-resimli {
  background-image: url('img.webp');
  background-size:cover;
  
  background-repeat: no-repeat;
  width: 100vw; 
  height: 100vh;
  position: fixed;
  }
  .navbar {
    height: 5vh;
    width: 100%;
    background-color: gray;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    }
a
{
text-decoration: none;
color: rgb(75, 3, 51);
}
h2
{ 
  cursor: pointer;
  transition: 0.8s;
}
a:hover
{
color: brown;


}

h2:hover
{
  color: brown;
  
  
  }